@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

.appHeader{
    font-family: 'Gamja Flower';
	font-size: 30px;
	font-weight: bold;
	min-width: 300px;
	text-align: center;
	color: #FFFFFF;
	text-shadow:
		0 1px 0 #CCCCCC,
		0 2px 0 #C9C9C9,
		0 3px 0 #BBBBBB,
		0 4px 0 #B9B9B9,
		0 5px 0 #AAAAAA,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
    background-color: rgb(0, 227, 235);
    height: 85px;
    margin: 0px 400px;
    border-radius: 30px;
}

.appBody{
    background-color: rgb(77, 122, 122);
	margin: 30px 400px;
	padding: 10px 0 15px 0;
	border-radius: 30px;
	min-width: 300px;
}

.menu {
	list-style: none;
	text-align: center;
	background: #ffffff;
	margin: 15px 40px 0 0;
}
  
.menu li {
	display: inline-block;
}
  
.menu .link {
	font-family: 'Roboto Condensed', sans-serif;
	width: 80px;
	border-radius: 12px;
	background: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
	position: center;
	margin: 10px;
	padding: 10px;
	font-size: 18px;
	display: inline-block;
	color:rgb(77, 122, 122);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.226);
	box-shadow:
		0 1px 0 rgb(226, 225, 225),
		0 2px 0 rgb(218, 218, 218),
		0 3px 0 rgb(204, 204, 204),
		0 4px 0 rgb(202, 202, 202),
		0 5px 0 rgb(190, 190, 190),
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
        0 15px 20px rgba(0,0,0,.15);
}

.menu .link:hover{
	background: rgb(255, 255, 255);
}