@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic');

.inputStyle, .inputDoneStyle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 90%;
    margin: 10px 5px;
    padding: 2px 10px 0px 10px;
    outline: none;
    resize: vertical;
    height: 30px;
    min-height: 30px;
    border-radius: 15px;
    box-shadow:
		0 1px 0 #CCCCCC,
		0 2px 0 #C9C9C9,
		0 3px 0 #BBBBBB,
		0 4px 0 #B9B9B9,
		0 5px 0 #AAAAAA,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
.inputDoneStyle{
    text-decoration: line-through;
    background-color: rgb(241, 241, 241);   
}
.inputStyle::-webkit-scrollbar{
    display: none;
}
.fieldStyle{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:90%;
    padding: 0;
    margin: 0;
}
.btnStyle, .btnDoneStyle, .btnRemoveStyle{
    margin: 10px 5px;
    height: 30px;
    width: 110px;
    border-radius: 12px;
    outline: none;
    border-width: 1px;
    border-color: rgb(37, 185, 104);
    background-color: rgb(46, 255, 140);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.644);
    box-shadow:
		0 1px 0 rgb(36, 202, 111),
		0 2px 0 rgb(35, 194, 106),
		0 3px 0 rgb(32, 173, 96),
		0 4px 0 rgb(27, 150, 82),
		0 5px 0 rgb(23, 129, 71),
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
.btnDoneStyle, .btnRemoveStyle{
    background-color: rgb(255, 42, 42);
    border-color:rgb(182, 30, 30);
    box-shadow:
		0 1px 0 rgb(255, 42, 42),
		0 2px 0 rgb(235, 39, 39),
		0 3px 0 rgb(219, 36, 36),
		0 4px 0 rgb(197, 33, 33),
		0 5px 0 rgb(182, 30, 30),
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
.btnStyle:hover{
    color:rgb(243, 243, 243);
    background-color:rgb(49, 236, 134);
    box-shadow:
		0 1px 0 rgb(33, 177, 97),
		0 2px 0 rgb(31, 177, 97),
		0 3px 0 rgb(29, 156, 86),
		0 4px 0 rgb(23, 131, 71),
		0 5px 0 rgb(17, 104, 56),
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

.btnDoneStyle:hover, .btnRemoveStyle:hover{
    color:rgb(243, 243, 243);
    background-color: rgb(235, 39, 39);
    box-shadow:
		0 1px 0 rgb(223, 37, 37),
		0 2px 0 rgb(207, 34, 34),
		0 3px 0 rgb(202, 33, 33),
		0 4px 0 rgb(184, 30, 30),
		0 5px 0 rgb(153, 26, 26),
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
label{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
	font-weight: bold;
	color:white;
    text-shadow:
		0 1px 0 rgb(168, 168, 168),
		0 2px 0 rgb(151, 151, 151),
		0 2px 0 rgb(131, 131, 131),
		0 2px 0 rgb(105, 105, 105),
		0 3px 0 rgb(95, 95, 95),
		0 4px 1px rgba(0,0,0,.1),
		0 0 3px rgba(0,0,0,.1),
		0 1px 2px rgba(0,0,0,.3),
		0 2px 3px rgba(0,0,0,.2),
		0 3px 7px rgba(0,0,0,.25),
		0 7px 7px rgba(0,0,0,.2);
}