.taskList {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.task {
    display:flex;
    width: 94%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}